.imageWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 60vh; /* Or adjust based on your design */
  background-image: url("../../assets/flower.png"); /* Background image */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  text-align: right; /* Center the text horizontally */
  /* img {
    width: 100%;
    height: auto;
    background-color: #e7e7e729;
    filter: "grayscale(100%) brightness(150%) contrast(100%)";
    height: "auto";
  } */

  .imageContent {
    /* background: rgba(
      0,
      0,
      0,
      0.6
    ); */
    /* Optional: dark overlay for text contrast */
    color: #fff;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
    border-radius: 10px;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      /* margin-bottom: 0rem; */
    }

    h5 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
      line-height: 0;
    }

    button {
      width: 30rem;
      height: 5rem;
      /* padding: 1rem 2rem; */
      font-size: 2rem;
      font-weight: 700;
      background-color: #ffffff;
      color: #000;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.jewellery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 1.5rem;

  span {
    display: block;
    font-size: 1rem;
  }
}

.customize {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f4ee;
  height: 60vh;
  margin-top: 55px;
  width: 100%;

  .goldNecklace {
    img {
      width: auto;
      height: auto;
      margin-right: 2rem;
    }
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
  }

  h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-align: left;
  }

  button {
    width: 28rem;
    height: 4.5rem;
    top: 309px;
    left: 903px;
    /* padding: 19px 42px 15px 52px; */
    gap: 0px;
    border-radius: 5px;
    border: 0.5px solid #000000;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin-left: 25rem;
    background-color: transparent;
  }

  .rightArrow {
    img {
      position: relative;
      left: 3rem;
      bottom: -0.5rem;
    }
  }
}

.bagsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 56px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;

    h1 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 700;
      line-height: 72px;
      text-align: left;
      margin: 0;
    }

    a {
      color: red;
    }
  }
  .bags {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 24px;

    span {
      display: block;
    }
  }
}

.reviewsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block: 55px;
  .heading {
    align-items: center;
    width: 1152px;

    h4 {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      text-align: center;
    }

    h5 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
    }
  }

  .reviews {
    p {
      margin: 0;
    }
    .topReview {
      display: flex;
      /* grid-template-columns: 1fr 1fr; */
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 100%;
      gap: 6rem;
      margin-bottom: 2rem;
    }
    .bottomReview {
      display: flex;
      /* grid-template-columns: 1fr 1fr; */
      align-items: center;
      justify-content: space-evenly;
      /* margin: auto; */
      /* width: 100%; */
      a {
        color: red;
      }
    }
    .review {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      text-align: left;
      color: #000000b2;
      width: 35rem;
      height: 8rem;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .imageWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60vh; /* Or adjust based on your design */
    background-image: url("../../assets/flower.png"); /* Background image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    text-align: right; /* Center the text horizontally */
    /* img {
    width: 100%;
    height: auto;
    background-color: #e7e7e729;
    filter: "grayscale(100%) brightness(150%) contrast(100%)";
    height: "auto";
  } */

    .imageContent {
      /* background: rgba(
      0,
      0,
      0,
      0.6
    ); */
      /* Optional: dark overlay for text contrast */
      color: #fff;
      padding-right: 5rem;
      padding-bottom: 2.5rem;
      border-radius: 10px;
      h1 {
        font-size: 3rem;
        font-weight: 700;
        /* margin-bottom: 0rem; */
      }

      h5 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 0;
      }

      button {
        width: 30rem;
        height: 5rem;
        /* padding: 1rem 2rem; */
        font-size: 2rem;
        font-weight: 700;
        background-color: #ffffff;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .jewellery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 1.5rem;

    span {
      display: block;
      font-size: 1rem;
    }
  }

  .customize {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f4ee;
    height: 60vh;
    margin-top: 55px;
    width: 100%;

    .goldNecklace {
      img {
        width: 20rem;
        /* height: auto; */
        margin-right: 1rem;
      }
    }

    h5 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
    }

    h3 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      text-align: left;
    }

    button {
      width: 23rem;
      height: 4.5rem;
      top: 309px;
      left: 903px;
      /* padding: 19px 42px 15px 52px; */
      gap: 0px;
      border-radius: 5px;
      border: 0.5px solid #000000;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 3rem;
      margin-left: 25rem;
      background-color: transparent;
    }

    .rightArrow {
      img {
        position: relative;
        left: 1rem;
        bottom: -0.5rem;
      }
    }
  }

  .bagsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 56px;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 72%;

      h1 {
        font-family: Poppins;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 72px;
        text-align: left;
        margin: 0;
      }

      a {
        color: red;
      }
    }
    .bags {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 24px;

      span {
        display: block;
      }
    }
  }

  .reviewsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 55px;
    .heading {
      align-items: center;
      width: 1152px;

      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
      }

      h5 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
      }
    }

    .reviews {
      p {
        margin: 0;
      }
      .topReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        gap: 6rem;
        margin-bottom: 2rem;
      }
      .bottomReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: space-evenly;
        /* margin: auto; */
        /* width: 100%; */
        a {
          color: red;
        }
      }
      .review {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        text-align: left;
        color: #000000b2;
        width: 35rem;
        height: 8rem;
        padding-inline: 50px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .imageWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60vh; /* Or adjust based on your design */
    background-image: url("../../assets/flower.png"); /* Background image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    text-align: right; /* Center the text horizontally */
    /* img {
    width: 100%;
    height: auto;
    background-color: #e7e7e729;
    filter: "grayscale(100%) brightness(150%) contrast(100%)";
    height: "auto";
  } */

    .imageContent {
      /* background: rgba(
      0,
      0,
      0,
      0.6
    ); */
      /* Optional: dark overlay for text contrast */
      color: #fff;
      padding-right: 5rem;
      padding-bottom: 2.5rem;
      border-radius: 10px;
      h1 {
        font-size: 3rem;
        font-weight: 700;
        /* margin-bottom: 0rem; */
      }

      h5 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 0;
      }

      button {
        width: 25rem;
        height: 5rem;
        /* padding: 1rem 2rem; */
        font-size: 2rem;
        font-weight: 700;
        background-color: #ffffff;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .jewellery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 1.5rem;
    img {
      width: 13rem;
    }
    span {
      display: block;
      font-size: 1rem;
    }
  }

  .customize {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f4ee;
    height: 40vh;
    margin-top: 55px;
    width: 100%;

    .goldNecklace {
      img {
        width: 14rem;
        /* height: 378px; */
        margin-right: 1rem;
      }
    }

    h5 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1rem;
      text-align: left;
    }

    button {
      width: 22rem;
      height: 3.5rem;
      top: 309px;
      left: 903px;
      /* padding: 19px 42px 15px 52px; */
      gap: 0px;
      border-radius: 5px;
      border: 0.5px solid #000000;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 3rem;
      margin-left: 25rem;
      background-color: transparent;
    }

    .rightArrow {
      img {
        position: relative;
        left: 1.2rem;
        bottom: -0.5rem;
      }
    }
  }

  .bagsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 56px;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 72%;

      h1 {
        font-family: Poppins;
        font-size: 2rem;
        font-weight: 700;
        line-height: 72px;
        text-align: left;
        margin: 0;
      }

      a {
        color: red;
      }
    }
    .bags {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 12px;

      img {
        width: 12rem;
      }

      span {
        display: block;
      }
    }
  }

  .reviewsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 55px;
    .heading {
      align-items: center;
      width: auto;
      margin-inline: 4.5rem;

      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 0.5rem;
        text-align: center;
      }

      h5 {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1rem;
        text-align: center;
      }
    }

    .reviews {
      p {
        margin: 0;
      }
      .topReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        gap: 0.2rem;
        margin-bottom: 2rem;
      }
      .bottomReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: space-evenly;
        /* margin: auto; */
        /* width: 100%; */
        a {
          color: red;
        }
      }
      .review {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        text-align: left;
        color: #000000b2;
        width: 35rem;
        height: 8rem;
        padding-inline: 6rem;
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .imageWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 40vh; /* Or adjust based on your design */
    background-image: url("../../assets/flower.png"); /* Background image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    text-align: right; /* Center the text horizontally */
    /* img {
    width: 100%;
    height: auto;
    background-color: #e7e7e729;
    filter: "grayscale(100%) brightness(150%) contrast(100%)";
    height: "auto";
  } */

    .imageContent {
      /* background: rgba(
      0,
      0,
      0,
      0.6
    ); */
      /* Optional: dark overlay for text contrast */
      color: #fff;
      padding-right: 5rem;
      padding-bottom: 2.5rem;
      border-radius: 10px;
      h1 {
        font-size: 2rem;
        font-weight: 700;
        /* margin-bottom: 0rem; */
      }

      h5 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 0;
      }

      button {
        width: 15rem;
        height: 3.5rem;
        /* padding: 1rem 2rem; */
        font-size: 1.5rem;
        font-weight: 700;
        background-color: #ffffff;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .jewellery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 1rem;
    img {
      width: 10rem;
    }
    span {
      display: block;
      font-size: 0.55rem;
    }
  }

  .customize {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f4ee;
    height: 40vh;
    margin-top: 55px;
    width: 100%;

    .goldNecklace {
      img {
        width: 14rem;
        /* height: 378px; */
        margin-right: 1rem;
      }
    }

    h5 {
      font-size: 0.55rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1rem;
      text-align: left;
    }

    button {
      width: 16rem;
      height: 3rem;
      top: 309px;
      left: 903px;
      /* padding: 19px 42px 15px 52px; */
      gap: 0px;
      border-radius: 5px;
      border: 0.5px solid #000000;
      font-size: 1rem;
      font-weight: 600;
      line-height: 3rem;
      margin-left: 12rem;
      background-color: transparent;
    }

    .rightArrow {
      img {
        position: relative;
        left: 1.2rem;
        bottom: -0.5rem;
      }
    }
  }

  .bagsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 56px;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 72%;

      h1 {
        font-family: Poppins;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 72px;
        text-align: left;
        margin: 0;
      }

      a {
        color: red;
      }
    }
    .bags {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 1rem;

      img {
        width: 10rem;
      }

      span {
        display: block;
        font-size: 0.55rem;
      }
    }
  }

  .reviewsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 55px;
    .heading {
      align-items: center;
      width: auto;
      margin-inline: 4.5rem;

      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 0.5rem;
        text-align: center;
      }

      h5 {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1rem;
        text-align: center;
      }
    }

    .reviews {
      p {
        margin: 0;
      }
      .topReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        gap: 0.1px;
        margin-bottom: 2rem;
      }
      .bottomReview {
        display: none;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: space-evenly;
        /* margin: auto; */
        /* width: 100%; */
        a {
          color: red;
        }
      }
      .review {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        text-align: left;
        color: #000000b2;
        width: auto;
        height: auto;
        padding-inline: 2rem;
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .imageWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 30vh; /* Or adjust based on your design */
    background-image: url("../../assets/flower.png"); /* Background image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    text-align: right; /* Center the text horizontally */
    /* img {
    width: 100%;
    height: auto;
    background-color: #e7e7e729;
    filter: "grayscale(100%) brightness(150%) contrast(100%)";
    height: "auto";
  } */

    .imageContent {
      /* background: rgba(
      0,
      0,
      0,
      0.6
    ); */
      /* Optional: dark overlay for text contrast */
      color: #fff;
      padding-right: 5rem;
      padding-bottom: 2.5rem;
      border-radius: 10px;
      h1 {
        font-size: 1rem;
        font-weight: 700;
        /* margin-bottom: 0rem; */
      }

      h5 {
        font-size: 0.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 0;
      }

      button {
        width: 6rem;
        height: 2rem;
        /* padding: 1rem 2rem; */
        font-size: 0.75rem;
        font-weight: 700;
        background-color: #ffffff;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  /* .jewellery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3.5rem;
    gap: 1.5rem;

    span {
      display: block;
      font-size: 1rem;
    }
  } */
  .jewellery {
    flex-wrap: wrap;
    img {
      width: 8rem;
      /* height: 177px; */
    }

    span {
      font-size: 0.5rem;
    }
  }

  .customize {
    flex-direction: column;
    .goldNecklace {
      img {
        width: 324px;
        height: 173px;
        align-self: center;
        /* margin-right: 65px; */
      }
    }
  }

  .customize {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background: #f8f4ee;
    height: 42vh;
    /* margin-top: 27px; */
    width: 100%;

    .goldNecklace {
      width: 80%;
      img {
        width: 100%;
        height: 10rem;
        margin-right: 0;
        margin-top: 27px;
        /* margin: 0; */
      }
    }

    .content {
      width: 80%;
      h5 {
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        margin: 0;
      }

      h3 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: left;
        margin: 0;
      }

      button {
        width: 18rem;
        height: 2.5rem;
        /* top: 309px; */
        /* left: 903px; */
        /* padding: 19px 42px 15px 52px; */
        gap: 0px;
        border-radius: 5px;
        border: 0.5px solid #000000;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0;
        background-color: transparent;
      }
    }

    .rightArrow {
      img {
        position: relative;
        left: 30px;
        bottom: -4px;
      }
    }
  }

  .bagsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 72%;

      h1 {
        font-family: Poppins;
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 4.5rem;
        /* text-align: left; */
        margin: 0;
      }

      a {
        color: red;
        font-size: 0.5rem;
      }
    }
    .bags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 24px;

      img {
        width: 155px;
        height: 177px;
      }

      span {
        display: block;
        font-size: 0.5rem;
      }
    }
  }

  .reviewsContainer {
    height: auto;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 4.5rem;
    .heading {
      align-items: center;
      width: 80%;

      h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 0;
        text-align: center;
      }

      h5 {
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 10px;
        text-align: center;
        /* width: 20rem; */
      }
    }

    .reviews {
      p {
        margin: 0;
      }
      .topReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80vw;
        gap: 10px;
        margin-bottom: 0;
        q {
          font-size: 0.5rem;
          line-height: 0;
        }
      }
      .bottomReview {
        display: none;

        a {
          display: inline-block;
          color: red;
        }
      }
      .review {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #000000b2;
        width: auto;
        height: auto;
      }
    }
  }
}
@media (max-width: 480px) {
  .imageWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 30vh; /* Or adjust based on your design */
    background-image: url("../../assets/flower.png"); /* Background image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    text-align: right; /* Center the text horizontally */
    /* img {
    width: 100%;
    height: auto;
    background-color: #e7e7e729;
    filter: "grayscale(100%) brightness(150%) contrast(100%)";
    height: "auto";
  } */

    .imageContent {
      /* background: rgba(
      0,
      0,
      0,
      0.6
    ); */
      /* Optional: dark overlay for text contrast */
      color: #fff;
      padding-right: 2rem;
      padding-bottom: 1.5rem;
      border-radius: 10px;
      h1 {
        font-size: 1rem;
        font-weight: 700;
        /* margin-bottom: 0rem; */
        line-height: 0rem;
      }

      h5 {
        font-size: 0.5rem;
        font-weight: 400;
        margin-bottom: 0rem;
        line-height: 1.5rem;
      }

      button {
        width: 6rem;
        height: 2rem;
        /* padding: 1rem 2rem; */
        font-size: 0.75rem;
        font-weight: 700;
        background-color: #ffffff;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  /* .jewellery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3.5rem;
    gap: 1.5rem;

    span {
      display: block;
      font-size: 1rem;
    }
  } */
  .jewellery {
    flex-wrap: wrap;
    img {
      width: 8rem;
      /* height: 177px; */
    }

    span {
      font-size: 0.5rem;
    }
  }

  .customize {
    flex-direction: column;
    .goldNecklace {
      img {
        width: 324px;
        height: 173px;
        align-self: center;
        /* margin-right: 65px; */
      }
    }
  }

  .customize {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background: #f8f4ee;
    height: auto;
    /* margin-top: 27px; */
    width: 100%;

    .goldNecklace {
      width: 80%;
      img {
        width: 100%;
        height: 10rem;
        margin-right: 0;
        margin-top: 27px;
        /* margin: 0; */
      }
    }

    .content {
      width: 80%;
      h5 {
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        margin: 0;
      }

      h3 {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: left;
        margin: 0;
      }

      button {
        width: 90%;
        height: 2.5rem;
        /* top: 309px; */
        /* left: 903px; */
        /* padding: 19px 42px 15px 52px; */
        gap: 0px;
        border-radius: 5px;
        border: 0.5px solid #000000;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0;
        background-color: transparent;
      }
    }

    .rightArrow {
      img {
        position: relative;
        left: 5%;
        bottom: -4px;
      }
    }
  }

  .bagsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin-block: 2rem;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-inline: 0;

      h1 {
        font-family: Poppins;
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 4.5rem;
        /* text-align: left; */
        margin: 0;
      }

      a {
        color: red;
        font-size: 0.5rem;
      }
    }
    .bags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 24px;

      img {
        width: 8rem;
        /* height: 177px; */
      }

      span {
        display: block;
        font-size: 0.5rem;
      }
    }
  }

  .reviewsContainer {
    height: auto;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 4.5rem;
    .heading {
      align-items: center;
      width: 80%;

      h4 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 0;
        text-align: center;
      }

      h5 {
        font-size: 0.45rem;
        font-weight: 400;
        line-height: 10px;
        text-align: center;
        /* width: 20rem; */
      }
    }

    .reviews {
      p {
        margin: 0;
      }
      .topReview {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80vw;
        gap: 10px;
        margin-bottom: 0;
        q {
          font-size: 0.5rem;
          line-height: 0;
        }
      }
      .bottomReview {
        display: none;

        a {
          display: inline-block;
          color: red;
        }
      }
      .review {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #000000b2;
        width: auto;
        height: auto;
      }
    }
  }
}
