.payment {
  padding-left: 200px;
  margin-bottom: 100px;

  h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    display: inline;
    cursor: pointer;

    img {
      position: relative;
      top: 5px;
      margin-right: 20px;
    }
  }

  .icons {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-auto-flow: column;
    gap: 150px;
    width: 100%;
    margin-block: 1rem;
  }
  .container {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: 100%;

    form {
      width: 686px;
      h4 {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        margin-bottom: 0;
      }

      h5 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 0;
      }
      input:not([type="radio"]) {
        width: 100%;
        height: 72px;
        padding-left: 24px;
        border-radius: 5px;
        background: #d4d9de4d;
        border: none;
        outline: none;
        margin-bottom: 35px;
      }

      .error {
        color: #ea4335;
        font-size: 1rem;
        line-height: 0;
        margin: 0;
        position: relative;
        bottom: 20px;
        /* display: block; */
      }

      .contact {
        display: flex;
        gap: 20px;
        width: 100%;
        .inputWrapper {
          width: 100%;
          input {
            width: 100%;
            padding: 0 0 0 1.5rem;
            /* display: inline; */
            margin-right: 0.43rem;
            display: block;
          }
        }
      }

      p {
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
      }

      button {
        width: 100%;
        height: 74px;
        border-radius: 5px;
        background: #000000;
        color: #ffff;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
      }

      .radio {
        width: 100%;
        height: 72px;
        padding-inline: 30px;
        line-height: 10px;
        border-radius: 5px;
        border: 1px solid #d4d9de66;
        margin-bottom: 30px;
        margin-right: 0;
        display: flex;
        /* justify-content: center; */
        align-items: center;

        span {
          font-size: 1rem;
        }

        input {
          width: 30px;
          height: 30px;
          margin-right: 25px;
          /* margin-block: 50px; */
        }

        .imageWrap {
          position: absolute;
          right: 750px;
          img {
            width: auto;
            height: auto;
            margin-right: 10px;
          }
        }
      }
    }

    .orderSummary {
      padding: 50px;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: center; */
      width: auto;
      height: auto;
      background: #f8f4ee;
      /* margin: 0; */
      .order {
        display: flex;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin: 0;
      }

      /* .image { */

      /* } */

      .totalSummary {
        margin-top: 0;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 3rem;
          margin: 0;
        }
        .summary {
          display: grid;
          /* grid-template-columns: 1fr 1fr; */

          margin-left: 100px;

          img {
            position: absolute;
            right: 440px;
            width: 120px;
            margin-top: 30px;
            width: 140px;
            /* height: 198px; */
          }
        }
        hr {
          width: 73%;
          margin-left: 100px;
        }

        .amount {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          display: flex;
          justify-content: space-between;
          width: 73%;
          margin-left: 100px;
          /* padding-inline: 10px; */
        }
      }

      h4 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
      }

      h5 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }
}

@media (max-width: 786px) {
  .payment {
    max-width: 100%;
    padding-left: 0;

    h4 {
      font-size: 1rem;
      line-height: 3rem;

      img {
        position: relative;
        top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        width: 24px;
      }
    }

    .icons {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-auto-flow: column;
      gap: 10px;
      width: 100%;
      height: 61px;
    }

    .container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      /* grid-auto-flow: column; */
      gap: 0;
      width: 100%;
      background-color: #ffff;

      form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 1.24rem;
          font-weight: 500;
          line-height: 48px;
          margin-bottom: 0;
          align-self: flex-start;
        }

        h5 {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 24px;
          margin-top: 0;
          align-self: flex-start;
        }
        input:not([type="radio"]) {
          width: 100%;
          height: 51px;
          padding: 1rem;
          border-radius: 5px;
          background: #d4d9de4d;
          border: none;
          outline: none;
          margin-bottom: 2rem;
        }

        .contact {
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 48%;
            padding: 0 0 0 1rem;
            /* display: inline; */
            margin-right: 0.43rem;
          }
        }

        p {
          font-size: 32px;
          font-weight: 400;
          line-height: 48px;
          text-align: left;
        }

        button {
          width: 100%;
          height: 40px;
          border-radius: 0.3rem;
          background: #000000;
          color: #ffff;
          font-size: 1rem;
          font-weight: 600;
          line-height: 2rem;
        }

        .radio {
          width: 100%;
          height: 51px;
          padding-inline: 30px;
          line-height: 10px;
          border-radius: 5px;
          border: 1px solid #d4d9de66;
          margin-bottom: 30px;
          margin-right: 0;
          display: flex;
          /* justify-content: center; */
          align-items: center;

          span {
            font-size: 0.65rem;
          }

          input {
            width: 20px;
            height: 20px;
            margin-right: 25px;
            /* margin-block: 50px; */
          }

          .imageWrap {
            position: absolute;
            left: 650px;
            width: 60rem;
            img {
              width: auto;
              height: auto;
              margin-right: 0;
            }
          }
        }
      }

      .orderSummary {
        /* padding: 50px; */
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
        width: 100vw;
        height: auto;
        background-color: #ffff;
        .order {
          background-color: #ffff;
          display: flex;
          /* flex-direction: column; */
          justify-content: center;
          /* grid-template-columns: 1fr 1fr; */
          gap: 0;
        }

        .image {
          display: none;
          h5 {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }

        .totalSummary {
          margin-top: 0;
          width: 100%;
          h2 {
            display: none;
          }
          .summary {
            display: grid;
            /* grid-template-columns: 1fr 1fr; */

            margin-left: 100px;

            img {
              position: absolute;
              right: 640px;
              width: 0;
              margin-top: 10px;
              width: 100px;
              /* height: 198px; */
            }
          }

          hr {
            width: 60%;
            margin-right: 0;
          }

          .amount {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.5rem;
            display: flex;
            justify-content: space-between;
            width: 60%;
          }
        }

        h4 {
          font-size: 0.75rem;
          font-weight: 500;
          line-height: 2rem;
        }

        h5 {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.5rem;
        }

        p {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.5rem;
        }

        .discountBtn {
          display: none;
        }
      }
    }
    .clothes {
      margin-block: 2.6rem;
      width: 100%;
      padding-inline: 0;
      .shirt {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .card {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;

          img {
            width: 155px;
            height: 177px;
          }

          span {
            display: block;
            font-size: 0.6rem;
          }
        }
      }
      h2 {
        margin: 0;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 3rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .payment {
    max-width: 100%;
    padding-left: 0;

    .container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      /* grid-auto-flow: column; */
      gap: 0;
      width: 100%;
      background-color: #ffff;

      form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 1.24rem;
          font-weight: 500;
          line-height: 48px;
          margin-bottom: 0;
          align-self: flex-start;
        }

        h5 {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 24px;
          margin-top: 0;
          align-self: flex-start;
        }
        input:not([type="radio"]) {
          width: 100%;
          height: 51px;
          padding: 1rem;
          border-radius: 5px;
          background: #d4d9de4d;
          border: none;
          outline: none;
          margin-bottom: 2rem;
        }

        .contact {
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 48%;
            padding: 0 0 0 1rem;
            /* display: inline; */
            margin-right: 0.43rem;
          }
        }

        p {
          font-size: 32px;
          font-weight: 400;
          line-height: 48px;
          text-align: left;
        }

        button {
          width: 100%;
          height: 40px;
          border-radius: 0.3rem;
          background: #000000;
          color: #ffff;
          font-size: 1rem;
          font-weight: 600;
          line-height: 2rem;
        }

        .radio {
          width: 100%;
          height: 51px;
          padding-inline: 30px;
          line-height: 10px;
          border-radius: 5px;
          border: 1px solid #d4d9de66;
          margin-bottom: 30px;
          margin-right: 0;
          display: flex;
          /* justify-content: center; */
          align-items: center;

          span {
            font-size: 0.65rem;
          }

          input {
            width: 20px;
            height: 20px;
            margin-right: 25px;
            /* margin-block: 50px; */
          }

          .imageWrap {
            position: absolute;
            left: 300px;
            width: 60rem;
            img {
              width: auto;
              height: auto;
              margin-right: 0;
            }
          }
        }
      }

      .orderSummary {
        /* padding: 50px; */
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
        width: 100vw;
        height: auto;
        background-color: #ffff;
        .order {
          background-color: #ffff;
          display: flex;
          /* flex-direction: column; */
          justify-content: center;
          /* grid-template-columns: 1fr 1fr; */
          gap: 0;
        }

        .image {
          display: none;
          h5 {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }

        .totalSummary {
          margin-top: 0;
          width: 100%;
          h2 {
            display: none;
          }
          .summary {
            display: grid;
            /* grid-template-columns: 1fr 1fr; */

            margin-left: 100px;

            img {
              position: absolute;
              right: 250px;
              width: 0;
              margin-top: 7px;
              width: 100px;
              /* height: 198px; */
            }
          }

          hr {
            width: 60%;
            margin-right: 0;
          }

          .amount {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.5rem;
            display: flex;
            justify-content: space-between;
            width: 60%;
          }
        }

        h4 {
          font-size: 0.75rem;
          font-weight: 500;
          line-height: 2rem;
        }

        h5 {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.5rem;
        }

        p {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.5rem;
        }

        .discountBtn {
          display: none;
        }
      }
    }
  }
}
